* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(181, 105, 137);
  height: 100vh;
}

.table-container {
  display: flex;
  justify-content: center;
}

.wallet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

.button-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-div button {
  background-color: rgb(181, 105, 137);
  border-radius: 5px;
  border-style: none;
  box-shadow: 2px 2px 1px 0.1px rgba(0, 0, 0, 0.215);
  color: white;
  font-size: 14pt;
  font-weight: 700;
  height: 30px;
  margin-top: 20px;
  width: 300px;
}

.button-div button:hover {
  cursor: pointer;
  font-size: 15px;
  height: 32px;
  width: 310px;
}

.main-container {
  align-items: space-around;
  background-color: white;
  border-radius: 15px;
  box-shadow: -4px 9px 13px rgba(5, 18, 54, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
}

.wallet-container label {
  font-size: 14pt;
  font-weight: 700;
  margin-bottom: 20px;
  margin-right: 10px;
}

.wallet-container label input , .wallet-container label select {
  border-color: blue;
  border-radius: 5px;
  height: 30px;
  margin-left: 10px;
}

.wallet-container label:first-of-type input {
  width: 600px;
}

